{% extends "base.html" %}


{% block title %}
Cambiar contraseña
{% endblock %}


{% block contenido %}


<header class="encabezado">

    <div>

        <h1>
            Cambiar contraseña
        </h1>

        <p class="subtitulo">
            Usuario:
            {{ usuario["nombre"] }}
            ({{ usuario["usuario"] }})
        </p>

    </div>


    <a
        href="{{ url_for('usuarios') }}"
        class="boton-secundario"
    >
        ← Volver
    </a>

</header>


<section class="panel cambiar-contrasena-panel">


    {% if error %}

        <div class="mensaje-error">
            {{ error }}
        </div>

    {% endif %}


    <form
        method="POST"
        class="cambiar-contrasena-form"
    >

        <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token() }}"
        >


        <div class="cambiar-contrasena-grid">


            <div class="campo">

                <label for="password">
                    Nueva contraseña
                </label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    minlength="8"
                    autocomplete="new-password"
                    required
                >

                <span class="campo-ayuda">
                    Mínimo 8 caracteres.
                </span>

            </div>


            <div class="campo">

                <label for="confirmacion">
                    Confirmar contraseña
                </label>

                <input
                    type="password"
                    id="confirmacion"
                    name="confirmacion"
                    minlength="8"
                    autocomplete="new-password"
                    required
                >

            </div>


        </div>


        <div class="cambiar-contrasena-acciones">

            <button
                type="submit"
                class="boton"
            >
                Cambiar contraseña
            </button>

            <a
                href="{{ url_for('usuarios') }}"
                class="boton-secundario"
            >
                Cancelar
            </a>

        </div>


    </form>


</section>


{% endblock %}